:root {
	--accent-color: #d2a371;
}

.header-container,
.header-logo-container,
.navigation-links,
.icon-container {
	display: flex;
}

.header-container {
	width: 78vw;
	height: 84px;
	justify-content: space-between;
	align-items: center;
}

.header-logo-container {
	position: relative;
}

.logo-fashion,
.logo-8,
.logo-eight {
	font-weight: 600;
	font-size: 1rem;
}

.logo-fashion {
	color: var(--accent-color);
}

.logo-8 {
	color: #fff;
	z-index: 3;
}

.logo-eight {
	color: #000;
	position: absolute;
	right: -42px;
}

.header-navigation {
	width: 40%;
}

.navigation-links {
	padding: 0;
	margin: 0;
	list-style-type: none;
	justify-content: space-around;

	a {
		text-decoration: none;
		color: black;
		font-weight: 600;
	}
}

.icon-container {
	width: 25%;
	padding-bottom: 5px;
	justify-content: space-evenly;
}

.search {
	transform: rotateY(180deg);
}

.cart {
	position: relative;

	div {
		position: absolute;
		top: -5px;
		right: -5px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 15.68px;
		width: 15.68px;
		border-radius: 50%;
		background-color: var(--accent-color);
		color: #fff;
		text-align: center;
		font-size: 0.75rem;
	}
}
