{% block layout_my_header %}
    {% block my_header_logo %}
        <h1>Hello Worldi</h1>
    {% endblock %}
    {% block my_header_navigation %}
        <nav>
            <ul>
            <a><li>DAMEN</li></a>
            <a><li>HERREN</li></a>
            <a><li>SALE</li></a>
            <a><li>#FASHIONEIGHT</li></a>
            </ul>
        </nav>
    {% endblock %}
{% endblock %}